.topnav {
  overflow: hidden;
  background-color: #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #aaa;
}

.topnav a.active {
  background-color: #077;
  color: white;
}